

<div class="row">
  <div class="col-md-6">
    <div class="profileDiv">
      <%= image_tag @user.avatar.url(:medium),width:'300px'%>
      <%#= @user.name %>
        <p>
          Name : <%= @user.firstname %>
        <br><br>
          Email : <%= @user.email %>
        </p>
        <br><br>
          Date of Birth : <%= @user.dob.strftime("%d-%m-%Y") %>
        </p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="extendaddOrg">
      <%= link_to "Edit Profile",edit_user_registration_path %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="extendaddOrg">
      <%= link_to "Change Password",change_password_registration_path %>
    </div>
  </div>
</div>

