<div class="nav">

<ul>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Account</a>
    <div class="dropdown-content">
      <%= link_to 'Profile', user_path(@user) %>
      <%= link_to "Logout", destroy_user_session_path, :method =>'DELETE' %>
    </div>
  </li>
</ul>
</div>
<div>
  <%= image_tag @user.avatar.url(:medium),width:'300px'%>
  <%#= @user.name %>
  <p>
  Name : <%= @user.name %>
  <br><br>
  Age : <%= @user.age %>
  <br><br>
  Email : <%= @user.email %>
  </p>
  <p>
  <div>
    <%= link_to "Edit Profile",edit_user_registration_path %>
  </div>

  <div>
    <%= link_to "Change Password",change_password_registration_path %>
  </div>
</div>
