
<!-- <div class="nav">
  <p><%= link_to 'SimpleApp',root_path %></p>
  <ul>
   <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Account</a>
    <div class="dropdown-content">
      <%= link_to "Profile", user_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, :method =>'DELETE' %>
    </div>
   </li>
  </ul>
</div> -->

<div class = "row">
  <div class="centerDiv ">
    <div class="addOrg editTeamDiv">
      <% if current_user.admin? %>

        <%= form_for :company,:url=>{:controller=>"companys",:action=>"update"} do |f|%>
          <%= f.text_field :name, autofocus: true,:placeholder=>'Team Name' %>
          <%= f.text_field :maxcount, autofocus: true,:placeholder=>'No. of Members' %>
          <%= f.label :avatar, "Image" %>
          <%= f.file_field :avatar %>
          <%= image_tag(@company.avatar.url(:medium),width: '100px') %>
          <%= f.submit "Update Team" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div >
  <%= link_to "Back", root_path %>
</div>
